* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}

header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(235, 122, 29);
  padding: 10px 20px;
}

main {
  margin: auto;
  margin-top: 65px;
  margin-bottom: 80px;
}

.img-prodotto {
  width: 100%;
  display: inline-block;
}

.cuore {
  font-size: 40px;
  padding: 0 10px;
  top: 5px;
  right: 5px;
  background-color: white;
  border: none;
  display: none;
}

.prodotto:hover .cuore {
  display: inline-block;
}

.cuore:hover {
  color: red;
  display: inline-block;
  cursor: pointer
}


.img-prodotto-secondo {
  width: 100%;
  display: none;
}

.prodotto:hover .img-prodotto-secondo {
  display: inline-block;
}

.prodotto:hover .img-prodotto {
  display: none;
}

a {
  text-decoration: none;
  color: white;
}

.selezione {
  margin: 0 auto;
}

.logo {
  height: 50%;
}

.img-piccole {
  width: 20px;
  height: 20px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(11%) hue-rotate(61deg) brightness(104%) contrast(100%);
}

.col50 .logo {
  width: 30%;
}

footer {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}

/* CLASSI DI LAYOUT */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  width: 100%;
  flex-wrap: wrap;
}

.row-header {
  width: 100%;
}

.col33 {
  margin: 10px 5px;
  width: calc(100% / 3 - 20px);
}

.col25 {
  width: 25%;
}

.col50 {
  width: 50%;
}

.etichette {
  position: absolute;
  bottom: 10%;
}

.percentuale-sconto {
  background-color: red;
  color: white;
  padding: 5px 7px;
  margin: 0 2px;
}

.sostenibilità {
  background-color: green;
  color: white;
  padding: 5px 7px;
  margin: 0 2px;
}


/* CLASSI DI UTILITY */
.d-flex {
  display: flex;
}

.a-items-center {
  align-items: center;
}

.j-c-center {
  justify-content: center;
}

.j-c-right {
  justify-content: right;

}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.j-c-space-between {
  justify-content: space-between;
}

.txt-a-right {
  text-align: right;
}

.txt-a-center {
  text-align: center;
}

.mg-5 {
  margin-top: 15px;
  margin-right: 10px;
}

li {
  margin-top: 5px;
  margin-right: 10px;
}





/* BACKGROUND */
.background-color-orange {
  background-color: rgb(235, 122, 29);
}

.background-color-black {
  background-color: black;
}

/* COLORI */
.prezzo-scontato {
  color: red;
}

.color-white {
  color: white;
}

.prezzo-originale {
  text-decoration: line-through;
}