@use './partials/variables';

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    width: 100%;
    flex-wrap: wrap;
}

.col33 {
    margin: 10px 5px;
    width: calc(100% / 3 - 20px);
}

.d-flex {
    display: flex;
}

.a-items-center {
    align-items: center;
}

.j-c-center {
    justify-content: center;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.img-prodotto {
    width: 100%;
    display: inline-block;
}

.cuore {
    font-size: 40px;
    padding: 0 10px;
    top: 5px;
    right: 5px;
    background-color: white;
    border: none;
    display: none;
}

.prodotto:hover .cuore {
    display: inline-block;
}

.cuore:hover {
    color: red;
    display: inline-block;
    cursor: pointer
}


.img-prodotto-secondo {
    width: 100%;
    display: none;
}

.prodotto:hover .img-prodotto-secondo {
    display: inline-block;
}

.prodotto:hover .img-prodotto {
    display: none;
}

.etichette {
    position: absolute;
    bottom: 10%;
}

.percentuale-sconto {
    background-color: red;
    color: white;
    padding: 5px 7px;
    margin: 0 2px;
}

.sostenibilità {
    background-color: green;
    color: white;
    padding: 5px 7px;
    margin: 0 2px;
}

.prezzo-originale {
    text-decoration: line-through;
}

.prezzo-scontato {
    color: red;
}